<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> My name is Isaac Stewart, I'm a sophomore at the University of Massachusetts Amherst, majoring in Mechanical Engineering. I'm passionate about vehicle design and biomechanical engineering.</p>
      </div>
      <div class="col-lg-4">
        <p> I'm looking for mechanical engineering internships. I have a project NA Miata that I tinker with and put my engineering skills I've learned in class and on my own to use.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{ '/assets/Resume.pdf' | relative_url }}" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>